*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
body {
  font-family: "Lato", sans-serif;
  background-color: black;
}

.container {
  overflow-x: hidden;
}

/* Header content */
header {
  width: 100%;
  aspect-ratio: 21/9;
  background-image: url(img/hero.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  @media screen and (max-width: 1300px) {
    aspect-ratio: 16/9;
    background-size: contain;
  }

  aside {
    width: 1200px;
    margin-inline: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: end;

    margin-bottom: -10%;
    position: relative;
    z-index: 1;

    img {
      width: 50%;
    }
    h1 {
      font-size: clamp(2rem, 4vw, 5rem);
      text-decoration: underline 2px;
      margin-bottom: 10px;
      padding-top: 3rem;
    }
    p {
      font-size: clamp(0.75rem, 2vw, 1rem);
    }

    & ::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 110%;
      background: #000000;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 1) 100%
      );
      z-index: -1;
    }
  }
}

img {
  width: 100%;
}

section {
  inline-size: 1200px;
  max-inline-size: min(1200px, calc(100% - 3rem));
  margin-inline: auto;
}

/* Deklaration Content */
.deskripsi {
  margin-top: clamp(7rem, 20vw, 15rem);
  margin-bottom: calc(5rem + 2vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  p {
    inline-size: min(70ch, 100%);
    text-align: center;
    color: #aaa;
    font-size: calc(0.5rem + 1vw);
    b {
      color: white;
    }
  }
}

/* Episode Content */
.episode {
  .h1 {
    position: fixed;
    position-anchor: --carousel;
    position-area: top center;
    color: #eee;
    font-size: 2rem;
    font-weight: 800;
  }

  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 3rem;
    color: white;
    cursor: pointer;
  }
  &::scroll-button(right) {
    position-area: bottom span-left;
    position-area: center right;
    content: "›";
  }
  &::scroll-button(left) {
    position-area: bottom span-right;
    position-area: center left;
    content: "‹";
  }

  &::before,
  &::after {
    content: "";
    display: block;
    inline-size: 50vw;
  }

  display: grid;
  grid-auto-flow: column;
  place-items: center;
  block-size: 400px;
  /* grid-auto-columns: 50%; */
  gap: 2rem;
  padding-inline: 2rem;
  scroll-behavior: smooth;
  position: relative;
  anchor-name: --carousel;

  scroll-snap-type: both mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;

  .episode_item {
    block-size: 80%;
    aspect-ratio: 1;
    border-radius: 20px;

    scroll-snap-align: center;
    scroll-snap-stop: always;
    position: relative;
    container-type: scroll-state;
    img {
      block-size: 100%;
      object-fit: cover;
      border-radius: inherit;
      opacity: 0.15;
      transform: scale(0.9);

      transition: 0.5s;
      @container scroll-state(snapped) {
        interactivity: inert;
        opacity: 1;
        transform: scale(1);
      }
    }

    .text {
      position: absolute;
      left: 0;
      bottom: -15%;
      opacity: 0;
      inline-size: 100%;
      background: linear-gradient(#00000000, #000000 70%);
      color: white;
      /* font-size: calc(0.3rem + 1vw); */
      font-size: min(2.5vw, 1rem);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 5em 1rem 1rem 1rem;
      transition: 0.5s;

      @container scroll-state(snapped) {
        interactivity: inert;
        bottom: 0;
        opacity: 1;
      }
      p {
        color: #aaa;
        margin-block: 0.5rem;
      }
    }
  }
}

footer {
  inline-size: 100%;
  height: clamp(70px, 30vh, 400px);
  margin-top: 5rem;
  color: white;

  position: relative;
  z-index: 2;
  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(#00000020, #6b281320);
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  p {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
    color: #eee;
    .kecil {
      font-size: 1.5rem;
      font-weight: 100;
      color: #aaa;
      color: #bea59d;
    }
  }
  hr {
    width: 50%;
    border: 1px solid #6b2813;
  }
  pre {
    font-size: 0.7rem;
    margin-bottom: 3rem;
    color: #fcd0c3;
  }
}
